@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #0f0f24f0; }

#root {
  width: 1440px;
  height: 900px;
  border-radius: 24px;
  overflow: hidden;
  background-color: #F9F9FB;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1.9fr;
  grid-auto-flow: row;
  grid-template-areas: "Nav Topbar" "Nav Main"; }
  #root .Nav {
    grid-area: Nav; }
  #root .Topbar {
    grid-area: Topbar; }
  #root .Main {
    grid-area: Main; }

ul {
  list-style-type: none; }
  ul li {
    cursor: pointer; }

.Main_right .tracks {
  overflow: scroll; }
  .Main_right .tracks::-webkit-scrollbar {
    width: 0; }
  .Main_right .tracks {
    -ms-overflow-style: none; }
  .Main_right .tracks {
    overflow: -moz-scrollbars-none; }

summary {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

summary {
  cursor: pointer; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 18px; }

h3, li, span, p {
  font-size: 16px; }

h4 {
  font-size: 14px; }

h5 {
  font-size: 13px; }

.Nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 100%;
  padding-top: 37px;
  background-color: #FFFFFF; }
  .Nav_logo {
    margin-bottom: 63px; }
  .Nav_groups {
    display: flex;
    flex-direction: column;
    gap: 17px 0;
    width: 100%;
    margin-bottom: 17px; }
    .Nav_groups .group h3, .Nav_groups .group li {
      padding-left: 24px; }
    .Nav_groups .group h3 {
      margin-bottom: 2px;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 6px; }
    .Nav_groups .group li {
      display: flex;
      align-items: center;
      height: 46px;
      transition: 0.3s;
      animation: Nav 1s ease;
      cursor: pointer; }
      .Nav_groups .group li svg * {
        stroke: #787887; }
      .Nav_groups .group li svg:not(#search) * {
        fill: #787887; }
      .Nav_groups .group li span {
        margin-left: 24px;
        text-transform: capitalize;
        font-weight: 600;
        line-height: 22px;
        color: #4343EF; }
      .Nav_groups .group li:hover, .Nav_groups .group li.active {
        background-color: #F0F0F5;
        box-shadow: 6px 0 0 #4343EF; }
        .Nav_groups .group li:hover svg *, .Nav_groups .group li.active svg * {
          stroke: #4343EF; }
        .Nav_groups .group li:hover svg:not(#search) *, .Nav_groups .group li.active svg:not(#search) * {
          fill: #4343EF; }

@keyframes Nav {
  0% {
    transform: translateX(-50%);
    box-shadow: none;
    background-color: white; } }
.Topbar {
  position: relative;
  display: flex;
  align-items: center;
  width: 1180px;
  height: 98px;
  gap: 24px 0;
  padding-left: 42px; }
  .Topbar .Menu {
    display: flex;
    gap: 0 26px;
    width: 284px;
    margin-right: 93px;
    font-weight: 500;
    line-height: 22px;
    color: #4D4D56;
    text-transform: capitalize; }
    .Topbar .Menu li {
      width: 66px;
      text-align: center; }
      .Topbar .Menu li:hover, .Topbar .Menu li.active {
        font-weight: 600; }
    .Topbar .Menu li:hover, .Topbar .Menu li.active {
      position: relative;
      color: #4343EF; }
      .Topbar .Menu li:hover:before, .Topbar .Menu li.active:before {
        content: "";
        position: absolute;
        bottom: -2px;
        left: calc(50% - 6px);
        display: block;
        height: 2px;
        width: 12px;
        border-radius: 6px;
        background-color: #4343EF; }
  .Topbar .Searcher {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 400px;
    height: 100%;
    border-radius: 16px; }
    .Topbar .Searcher_form {
      display: flex;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 50px;
      border-radius: 16px;
      z-index: 4; }
      .Topbar .Searcher_form input {
        width: 100%;
        height: 100%;
        padding: 0 24px;
        border-radius: 16px;
        background: #F0F0F5;
        outline: none;
        border: none; }
        .Topbar .Searcher_form input.active {
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.05); }
        .Topbar .Searcher_form input::placeholder, .Topbar .Searcher_form input {
          color: #787887;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px; }
      .Topbar .Searcher_form img {
        position: absolute;
        cursor: pointer;
        right: 24px; }
    .Topbar .Searcher details {
      width: 100%;
      height: 100%; }
      .Topbar .Searcher details summary {
        display: none; }
      .Topbar .Searcher details .background {
        position: absolute;
        left: -170%;
        top: 0;
        width: 1440px;
        height: 900px;
        background: rgba(0, 0, 0, 0.06); }
      .Topbar .Searcher details ul {
        position: absolute;
        top: 100%;
        width: 100%;
        z-index: 4;
        border-top: 0;
        border-radius: 7px;
        background-color: #F9F9FB;
        display: flex;
        flex-direction: column;
        gap: 5px 0;
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.05);
        border-bottom-left-radius: 7px; }
        .Topbar .Searcher details ul li {
          display: flex;
          align-items: center;
          padding-left: 24px;
          height: 46px;
          transition: height 0.5s;
          text-transform: capitalize; }
          .Topbar .Searcher details ul li:hover {
            font-size: 18px; }
          .Topbar .Searcher details ul li:not(:last-child) {
            border-bottom: 0.1px solid rgba(67, 67, 239, 0.1); }
  .Topbar .User {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 32px; }
    .Topbar .User svg {
      cursor: pointer; }
      .Topbar .User svg:nth-child(2) {
        margin-left: 32px;
        margin-right: 42px; }
    .Topbar .User .container {
      display: flex;
      align-items: center;
      height: 100%; }
    .Topbar .User_avatar {
      width: 42px;
      height: 42px;
      margin-right: 10px;
      overflow: hidden;
      border-radius: 50%;
      background-color: #E6E6E6;
      word-break: тро; }
      .Topbar .User_avatar img {
        width: 100%;
        height: 100%; }
    .Topbar .User_nickname {
      width: 99px;
      font-weight: 600;
      line-height: 20px;
      margin-right: 14px;
      color: #24242E;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize; }

.Main {
  display: flex; }
  .Main_left {
    width: 100%;
    height: 100%; }
  .Main_right {
    width: 392px;
    height: 100%;
    padding-top: 32px;
    background-color: #FFFFFF;
    border-top-left-radius: 24px; }
    .Main_right .topPanel {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 24px;
      padding-right: 42px; }
      .Main_right .topPanel h2 {
        color: #24242E;
        font-weight: 600; }
      .Main_right .topPanel h4 {
        color: #787887;
        font-weight: 400; }
    .Main_right .tracks {
      width: 100%;
      height: 296px;
      margin-top: 16px;
      position: relative;
      border-bottom: 1px solid #E8E8FD; }
      .Main_right .tracks .Track {
        display: flex;
        align-items: center;
        height: 74px;
        padding-left: 24px;
        padding-right: 42px; }
        .Main_right .tracks .Track_num {
          font-weight: 400;
          margin-right: 15px; }
        .Main_right .tracks .Track .song {
          display: flex;
          align-items: center;
          width: 100%; }
          .Main_right .tracks .Track .song_avatar {
            min-height: 50px;
            min-width: 50px;
            margin-right: 8px;
            border-radius: 10px;
            background-color: #EBEBEB; }
          .Main_right .tracks .Track .song_info {
            width: 100%; }
            .Main_right .tracks .Track .song_info h3, .Main_right .tracks .Track .song_info h5 {
              width: 90%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              text-transform: capitalize; }
            .Main_right .tracks .Track .song_info h5 {
              font-weight: 400;
              line-height: 16px;
              color: #4D4D56; }
          .Main_right .tracks .Track .song span {
            margin-right: 24px; }
    .Main_right .player {
      width: 392px;
      margin: 0 auto;
      background: red;
      margin-top: 19px;
      text-align: center;
      display: none;
      flex-direction: column;
      align-items: center; }
      .Main_right .player h2 {
        font-weight: 500;
        line-height: 22px;
        color: #24242E; }
      .Main_right .player_picture {
        height: 120px;
        width: 200px;
        border-radius: 18px;
        background: #D6D6D6;
        margin-top: 16px;
        margin-bottom: 11px; }
      .Main_right .player_songName {
        font-weight: 700;
        color: #24242E; }
      .Main_right .player_teamName {
        font-weight: 400;
        line-height: 20px;
        color: #4D4D56; }

/*# sourceMappingURL=styles.css.map */
